
// Body
// $body-bg: #f5f8fa;
$body-bg: red;
$sidebar_collapse: 1000px;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-color: #3d4045;
$sidebar_width: 400px;
$sidebar_padding: 25px;
$cancel_red:  #fb5f62;

$mainView_padding: 40px;
$info_padding: 30px;

$editIcon_grey: #a8b2bc;
$editIcon_size: 40px;
$indCtaIcon_size: 28px;

$border_radius:5px;

$primary_teal: #46d4ba;
$userOrange: #ffca18;
